:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.2;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

html,
body,
#app,
.app-container {
    margin: 0;

    min-width: var(--cfw);
    min-height: -webkit-fill-available;
    min-height: var(--cfh);
}

.app-container {
    margin: 0 auto;
    place-items: center;
    text-align: center;

    display: flex;
    flex-direction: column;
}

.app-dark {
    color-scheme: dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
}

.app-light {
    color-scheme: light;
    color: #213547;
    background-color: #ffffff;
}

.content {
    width: 100%;
    height: 100%;

    min-width: 500px;
    min-height: 600px;

    margin: 0 auto;
    place-items: center;
    text-align: center;

    display: flex;
    flex-direction: column;
}

.spacer {
    flex-grow: 1;
}

.privacy-link-container {
    min-width: 500px;
    width: 100%;

    margin: 0 auto;
    place-items: center;
    text-align: center;

    display: flex;
    flex-direction: column;
}

/* Starting non-page stuff */

.small-image {
    max-width: 60%;
    max-height: 30vh;

    min-height: 90px;
}

p {
    margin: 1em;
    margin-left: 2em;
    margin-right: 2em;
}

p.multiline-p {
    margin: 0;
    margin-left: 2em;
    margin-right: 2em;

    line-height: 1.5;
}

h1 {
    padding-right: 1em;
    padding-left: 1em;

    font-size: 1.8em;
    line-height: 1.1;
}
h2 {
    padding-right: 1em;
    padding-left: 1em;

    font-size: 1.4em;
    line-height: 1.1;
}
h3 {
    padding-right: 1em;
    padding-left: 1em;

    font-size: 1.2em;
    line-height: 1.1;
}
